DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=

# PayPal REST app (Sandbox)
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENVIRONMENT=SANDBOX
PAYPAL_API=https://api.sandbox.paypal.com

METAMASK_MERCHANT_ADDRESS=
ETH_SGD_RATE=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# NETS QR (Sandbox)
API_KEY=
PROJECT_ID=

# SMTP (Email OTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=